<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
  <div class="col-md-6">
    <filter-row></filter-row>
    <wj-calendar></wj-calendar>
  </div>
</div>